<section id="home-slider">
    <div id="slider" class="sl-slider-wrapper">

        <div class="sl-slider">

            <% for(var i=0; i<affixes.length; ) { %>
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2"
                    data-slice2-scale="2">

                    <div class="bg-img bg-img-1"></div>

                    <div class="slide-caption">
                        <div class="caption-content" style="padding-top: 180px;">
                            <div class="affix-display">
                                <h2>
                                    <%= affixes[i].affixWeekTitle; %>
                                </h2>
                                <p>
                                    (
                                    <%= moment(affixes[i].affixDate).format('DD MM YYYY'); %>)
                                </p>
                                <div class="affixes-table">
                                    <div>
                                        <div>(+2) </div>
                                        <div><a href="http://fr.wowhead.com/affix=<%= affixes[i].affixValues.level2 %>/"
                                                class="affixes affixes-<%= affixes[i].affixValues.level2 %>"></a></div>
                                    </div>
                                    <div>
                                        <div>(+4) </div>
                                        <div><a href="http://fr.wowhead.com/affix=<%= affixes[i].affixValues.level4 %>/"
                                                class="affixes affixes-<%= affixes[i].affixValues.level4 %>"></a></div>
                                    </div>
                                    <div>
                                        <div>(+7) </div>
                                        <div><a href="http://fr.wowhead.com/affix=<%= affixes[i].affixValues.level7 %>/"
                                                class="affixes affixes-<%= affixes[i].affixValues.level7 %>"></a></div>
                                    </div>
                                    <div>
                                        <div>(+10) </div>
                                        <div><a href="http://fr.wowhead.com/affix=<%= affixes[i].affixValues.level10 %>/"
                                                class="affixes affixes-<%= affixes[i].affixValues.level10 %>"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="caption-content" style="padding-top: 180px;text-align:left;">
                            <div class="affix-display">
                                <h2>
                                    <%= affixes[i+1].affixWeekTitle; %>
                                </h2>
                                <p style="text-align:center;">
                                    (
                                    <%= moment(affixes[i+1].affixDate).format('DD MM YYYY'); %>)
                                </p>
                                <div class="affixes-table">
                                    <div>
                                        <div>(+2) </div>
                                        <div><a href="http://fr.wowhead.com/affix=<%= affixes[i+1].affixValues.level2 %>/"
                                                class="affixes affixes-<%= affixes[i+1].affixValues.level2 %>"></a></div>
                                    </div>
                                    <div>
                                        <div>(+4) </div>
                                        <div><a href="http://fr.wowhead.com/affix=<%= affixes[i+1].affixValues.level4 %>/"
                                                class="affixes affixes-<%= affixes[i+1].affixValues.level4 %>"></a></div>
                                    </div>
                                    <div>
                                        <div>(+7) </div>
                                        <div><a href="http://fr.wowhead.com/affix=<%= affixes[i+1].affixValues.level7 %>/"
                                                class="affixes affixes-<%= affixes[i+1].affixValues.level7 %>"></a></div>
                                    </div>
                                    <div>
                                        <div>(+10) </div>
                                        <div><a href="http://fr.wowhead.com/affix=<%= affixes[i+1].affixValues.level10 %>/"
                                                class="affixes affixes-<%= affixes[i+1].affixValues.level10 %>"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% i = i + 2 } %>
        </div>

        <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
            <a href="javascript:;" class="sl-prev">
                <i class="fa fa-angle-left fa-3x"></i>
            </a>
            <a href="javascript:;" class="sl-next">
                <i class="fa fa-angle-right fa-3x"></i>
            </a>
        </nav>


        <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
        </nav>

    </div>
</section>