<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
	<%- include ../partials/header.ejs %>
</head>

<body id="body">

	<!-- preloader -->
	<div id="preloader">
		<div class="loder-box">
			<div class="battery"></div>
		</div>
	</div>
	<!-- end preloader -->

	<!--
        Fixed Navigation
		==================================== -->
	<%- include ../partials/navigation.ejs %>
		<!--
        End Fixed Navigation
        ==================================== -->

		<main class="site-content" role="main">

			<!--
        Home Slider
        ==================================== -->

			<%- include ../partials/slide.ejs %>

				<!--
        End Home SliderEnd
		==================================== -->

				<!-- Affixes section -->
				<section id="affixes-info" class="parallax" style="background-image: none;">
					<div class="overlay2">
						<div class="container">
							<div class="row">
								<h1 class="section-title">Affixes</h2>
								<%- include ../partials/cards.ejs %>
							</div>
						</div>
					</div>
				</section>
				<!-- end Affixes section -->

				<%- include ../partials/footer.ejs %>

				<!-- Essential jQuery Plugins
		================================================== -->
				<!-- Main jQuery -->
				<script src="js/jquery-1.11.1.min.js"></script>
				<!-- Twitter Bootstrap -->
				<script src="js/bootstrap.min.js"></script>
				<!-- Single Page Nav -->
				<script src="js/jquery.singlePageNav.min.js"></script>
				<!-- jquery.fancybox.pack -->
				<script src="js/jquery.fancybox.pack.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
				<!-- Owl Carousel -->
				<script src="js/owl.carousel.min.js"></script>
				<!-- jquery easing -->
				<script src="js/jquery.easing.min.js"></script>
				<!-- Fullscreen slider -->
				<script src="js/jquery.slitslider.js"></script>
				<script src="js/jquery.ba-cond.min.js"></script>
				<!-- onscroll animation -->
				<script src="js/wow.min.js"></script>
				<!-- Custom Functions -->
				<script src="js/main.js"></script>
				<script>var whTooltips = { iconizeLinks: true, renameLinks: true };</script>
				<script src="//wow.zamimg.com/widgets/power.js"></script>
</body>

</html>